*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family:"OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif ;
	font-size: 14px;
	font-weight: 600;
	font-size: 62.5%;
	line-height: 1.6rem;
}

:root {
	--primary-color: #1ec5af;
	--second-color: rgba(79, 195, 179, 0.8);
	--white-color: #fff;
	--black-color: #000;
	--text-color: #333;
	--height-header: 50px;
	--shadow-color: #939393;
	--hover-color: #fafafa;
	--bodder-color: #dbdbdb;
	--notify-color: #eb1d57;
	--news-color: #e01bb4;
	--qna-color: #252eef;
	--review-color: #28e1e8;
	--discuss-color: #1ee865;
}

body {
	background-image: #f6f7f8;
}

a {
	text-decoration: none;
}

ul {
	padding-left: 0;
	list-style: none;
}

.ratio {
	position: relative;
}

.ratio:before {
	content: "";
	display: block;
	padding-top: 143.3333333333%;
	width: 100%;
}

.ratio .img-in-ratio {
	position: absolute;
	background-position: 50%;
	background-repeat: no-repeat;    
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-size: 100% 100%;
}
